<!DOCTYPE html>

<html>
	<head>
		<title>
                West End Restaurants
		</title>
		<link href="StyleSheet2.css" rel="stylesheet" type="text/css">

		</head>
		
		
		<body>
		
		
		<div class="navbar">
		<div style="float:left;">
		<h1 style="margin: 20px;"> West End Restaurants </h1>
		</div>
            
		<div class="wrap">
			<div class="search">
				<input type="text" class="searchTerm" placeholder="Search for a restaurant">
				<button type="submit" class="searchButton">
				<i class="fa fa-search"></i>
				</button>
			</div>
		</div>
            
		<div class="login-container">
			<form action="/action_page.php">
			<input type="text" placeholder="Username" name="username">
			<input type="text" placeholder="Password" name="psw">
                <button type="submit">Login</button>
                <a href="x">Forgotten password?</a>
            </form>
		</div>
		
            
        <div style= "float: right; width: 30%; top: 30%; left: 30%;">
            Or login using Facebook or Twitter
            
            </div>
		</div>
		
		<div style="margin: 20px;">
			<h2> Top rated </h2>
			<img src="paesano.jpg" alt="Paesano West End" style="width:40%">
		</div>
		<div class="mainPageText">
		<p>
		Compare and review your favourite resaturants in and around Glasgow's bustling West  End.
		
		Sign up today to add ratings and reviews. It's simple, fast and easy!
		</p>
		</div>
		
		
		<form action="/action_page.php">
		<div class="container">
		<h2>Sign Up</h2>
		<p>Please fill in this form to create an account.</p>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
    
    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>
    
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>
		
		
		<h2 style="clear:both; margin: 20px;">Paesano Pizza</h2>
		<h3 style="margin: 20px;">Ratings & reviews</h3>
		<div style="float:left; height=500px; margin: 20px;">
		<p>
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		</p>
		</div>
		
		<div style="float:right; height=500px; margin: 20px;">
		<p>
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		This will show the ratings
		</p>
		</div>
		
		<div class="footer">
			<a href="https://www.w3schools.com" style="padding-right : 300px; color:white;">FAQ</a>
			<a href="https://www.w3schools.com" style="padding-right : 300px; color:white;">About Us</a>
			<a href="https://www.w3schools.com" style="padding-right : 300px; color:white;">T&Cs</a>
			<a href="https://www.w3schools.com" style="padding-right : 300px; color:white;">Contact Us</a>
		
		
		</div>
		
		
		</body>
</html>
