<!DOCTYPE html>

<html>
	<head>
		<title>
                West End Restaurants
		</title>
		<link href="StyleSheet2.css" rel="stylesheet" type="text/css">

		</head>
		
		
		<body>
		
		
		<div class="navbar">
		<div style="float:left;">
		<h1 style="margin: 20px;"> West End Restaurants </h1>
		</div>
            
		<div class="wrap">
			<div class="search">
				<input type="text" class="searchTerm" placeholder="Search for a restaurant">
				<button type="submit" class="searchButton">
				<i class="fa fa-search"></i>
				</button>
			</div>
		</div>
            
		<div class="login-container">
			<form action="/action_page.php">
			<input type="text" placeholder="Username" name="username">
			<input type="text" placeholder="Password" name="psw">
                <button type="submit">Login</button>
                <a href="x">Forgotten password?</a>
            </form>
		</div>
		
            
        <div style= "float: right; width: 30%; top: 30%; left: 30%;">
            Or login using Facebook or Twitter
            
            </div>
		</div>
		
		<div style="margin: 20px;">
            <ul class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Pictures</a></li>
  <li><a href="#">Summer 15</a></li>
  <li>Italy</li>
</ul>
            </div>
            <p style="margin: 20px;"> Search reults for off campus</p>
            </div>
    
    
    
    
<div style="background-color: rgba(255,255,255,0.7); margin: 20px;">
    
    <div class="dropdown">
  <button class="dropbtn">Sort by</button>
  <div class="dropdown-content">
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  </div>
</div>

    <div>
<img class="thumbnail" src="paesano.jpg">
The Hibernian team of 2016 etched their names into the history books on Saturday afternoon by defeating Rangers 3-2 at Hampden Park and winning the William Hill Scottish Cup, writes Richard Payne.

Over a century of hurt was washed away in 90 minutes as Alan Stubbs side created history at the National Stadium.

Anthony Stokes got Hibernian off to the perfect start when he fired them ahead after only three minutes before Kenny Miller and Andy Halliday turned the tie on its head.

That is until late on when Stokes scored his second of the afternoon to level it before captain and talisman David Gray nodded home a dramatic winner to spark scenes of wild celebration.

There were two changes to the Hibernian line-up following their last outing with Liam Fontaine and Jason Cummings replacing Liam Henderson and James Keatings.

The Easter Road men got off to a dream start when John McGinn held of a couple of challenges before finding Cummings, he fed Stokes on the left and the Irishman drove into the Rangers penalty box before firing beyond Wes Foderingham to score.

Hibernian were flying and had a good chance to extend their lead soon after when Cummings' close range shot was blocked and Stokes' effort from the rebound was deflected wide.

    </div>
    
        <div>
<img class="thumbnail" src="paesano.jpg">
The Hibernian team of 2016 etched their names into the history books on Saturday afternoon by defeating Rangers 3-2 at Hampden Park and winning the William Hill Scottish Cup, writes Richard Payne.

Over a century of hurt was washed away in 90 minutes as Alan Stubbs side created history at the National Stadium.

Anthony Stokes got Hibernian off to the perfect start when he fired them ahead after only three minutes before Kenny Miller and Andy Halliday turned the tie on its head.

That is until late on when Stokes scored his second of the afternoon to level it before captain and talisman David Gray nodded home a dramatic winner to spark scenes of wild celebration.

There were two changes to the Hibernian line-up following their last outing with Liam Fontaine and Jason Cummings replacing Liam Henderson and James Keatings.

The Easter Road men got off to a dream start when John McGinn held of a couple of challenges before finding Cummings, he fed Stokes on the left and the Irishman drove into the Rangers penalty box before firing beyond Wes Foderingham to score.

Hibernian were flying and had a good chance to extend their lead soon after when Cummings' close range shot was blocked and Stokes' effort from the rebound was deflected wide.

    </div>
    
        <div>
<img class="thumbnail" src="paesano.jpg">
The Hibernian team of 2016 etched their names into the history books on Saturday afternoon by defeating Rangers 3-2 at Hampden Park and winning the William Hill Scottish Cup, writes Richard Payne.

Over a century of hurt was washed away in 90 minutes as Alan Stubbs side created history at the National Stadium.

Anthony Stokes got Hibernian off to the perfect start when he fired them ahead after only three minutes before Kenny Miller and Andy Halliday turned the tie on its head.

That is until late on when Stokes scored his second of the afternoon to level it before captain and talisman David Gray nodded home a dramatic winner to spark scenes of wild celebration.

There were two changes to the Hibernian line-up following their last outing with Liam Fontaine and Jason Cummings replacing Liam Henderson and James Keatings.

The Easter Road men got off to a dream start when John McGinn held of a couple of challenges before finding Cummings, he fed Stokes on the left and the Irishman drove into the Rangers penalty box before firing beyond Wes Foderingham to score.

Hibernian were flying and had a good chance to extend their lead soon after when Cummings' close range shot was blocked and Stokes' effort from the rebound was deflected wide.

    </div>
    
        <div>
<img class="thumbnail" src="paesano.jpg">
The Hibernian team of 2016 etched their names into the history books on Saturday afternoon by defeating Rangers 3-2 at Hampden Park and winning the William Hill Scottish Cup, writes Richard Payne.

Over a century of hurt was washed away in 90 minutes as Alan Stubbs side created history at the National Stadium.

Anthony Stokes got Hibernian off to the perfect start when he fired them ahead after only three minutes before Kenny Miller and Andy Halliday turned the tie on its head.

That is until late on when Stokes scored his second of the afternoon to level it before captain and talisman David Gray nodded home a dramatic winner to spark scenes of wild celebration.

There were two changes to the Hibernian line-up following their last outing with Liam Fontaine and Jason Cummings replacing Liam Henderson and James Keatings.

The Easter Road men got off to a dream start when John McGinn held of a couple of challenges before finding Cummings, he fed Stokes on the left and the Irishman drove into the Rangers penalty box before firing beyond Wes Foderingham to score.

Hibernian were flying and had a good chance to extend their lead soon after when Cummings' close range shot was blocked and Stokes' effort from the rebound was deflected wide.

    </div>
    
        <div>
<img class="thumbnail" src="paesano.jpg">
The Hibernian team of 2016 etched their names into the history books on Saturday afternoon by defeating Rangers 3-2 at Hampden Park and winning the William Hill Scottish Cup, writes Richard Payne.

Over a century of hurt was washed away in 90 minutes as Alan Stubbs side created history at the National Stadium.

Anthony Stokes got Hibernian off to the perfect start when he fired them ahead after only three minutes before Kenny Miller and Andy Halliday turned the tie on its head.

That is until late on when Stokes scored his second of the afternoon to level it before captain and talisman David Gray nodded home a dramatic winner to spark scenes of wild celebration.

There were two changes to the Hibernian line-up following their last outing with Liam Fontaine and Jason Cummings replacing Liam Henderson and James Keatings.

The Easter Road men got off to a dream start when John McGinn held of a couple of challenges before finding Cummings, he fed Stokes on the left and the Irishman drove into the Rangers penalty box before firing beyond Wes Foderingham to score.

Hibernian were flying and had a good chance to extend their lead soon after when Cummings' close range shot was blocked and Stokes' effort from the rebound was deflected wide.

    </div>
    
    </div>

		<div class="footer">
			<a href="https://www.w3schools.com" style="padding-right : 300px; color:white;">FAQ</a>
			<a href="https://www.w3schools.com" style="padding-right : 300px; color:white;">About Us</a>
			<a href="https://www.w3schools.com" style="padding-right : 300px; color:white;">T&Cs</a>
			<a href="https://www.w3schools.com" style="padding-right : 300px; color:white;">Contact Us</a>
		
		
		</div>
		
		
		</body>
</html>
